<h2> Añadir producto </h2>

<%# Creamos un formulario %>

<%= form_with model: @product do |form|%>
<% @product.errors.full_messages.each do |error| %> <%#recorre uno a uno para verificar los errores %>
<div style=color:red>
    <%= error %>
</div>
<br>
<% end %>
<div>
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>
<div>
    <%= form.label :description %>
    <%= form.text_area :description %>
</div>
<div>
    <%= form.label :price %>
    <%= form.number_field :price %>
</div>

<%= form.submit %>
<% end %>